.neumorphic {
  background-color: #e0e5ec;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #ffffff;
}
.neumorphic-input {
  background-color: #e0e5ec;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #a3b1c6, input -10px -10px 20px #ffffff;
  height: 30px;
  width: 250px;
  text-align: center;
}
.neumorphic-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 300px;
  height: 300px;
  margin: 100px;
  margin-top: 100px;
  margin-left: 450px;
  text-align: center;
}
.neumorphic-button {
  background-color: #e0e5ec;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #ffffff;
}
